
body {
	/*overflow:hidden;*/	
	background-color: #000;
	background:transparent; overflow: hidden;
}

.outer { 
	/*display:none;*/ 
	position: relative; 
	z-index: 10002; 
	/*height:100%;*/
}

.grid { 
	margin-top:1px; 
	z-index:30001; 
	width:100%; 
	display:none; 
}

.subcol a {	color:#eee; }

/*.headline { color:#b4e114 !important; }*/

.intholder { width:1188px; margin:6px auto; }

#int { position:absolute; top:180px; z-index:400000;}

#galleria, .barlower { display:none; }

.clearback { background:transparent !important; background-image: url(../img/home-menu-back.png) !important; }
	
.galleria-thumbnails-tab,
.galleria-image-nav-right,
.galleria-image-nav-left { 
	background-image:none; 
}

.pro_txt { 
width:910px; 
padding: 0;
margin-left: auto;
margin-right: auto;
height: 480px; 
background: url(../../data/profile/intro.png) no-repeat center center; 

}


.accordion-inner.profiletext {
	display:none;
}


.profiletext { 
	width: 1182px; 
	height: 1200px;
}

#galleria {
	display:none;
}